VITE_SUPABASE_URL=https://tyinrfdzeaxjbbyqqrhj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR5aW5yZmR6ZWF4amJieXFxcmhqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxMzUwNTMsImV4cCI6MjA5NTcxMTA1M30.Piz0ILAbiK6i7z62CTPsdLr6V9E0g8TFk24AvB2Zn9c
VITE_API_URL=http://localhost:3001/api
